<html>
<head>
    <% include partials/head.ejs %>
</head>
<body>
<% include partials/nav.ejs %>
<div class="container">
    <br><br><br>
    <h1 class="display-1 text-center">Es ist ein Fehler aufgetreten</h1>
    <h1 class="display-4 text-center">
        <%= error %>
    </h1>
</div>
<% include partials/footer.ejs %>
</body>
</html>